.about__content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--gap-lg);
}

.about__title, .about__tech-title {
    font-size: var(--font-sm);
    color: var(--pink);
    margin-bottom: .5rem;
}

.about__text {
    line-height: 1.5;
    margin-bottom: .9rem;
}

.about__tech-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.about__tech-item {
    font-size: var( --font-xs);
}

.about__tech-item i {
    margin-right: .5rem;
    color: var(--pink);
}

.about__image {
    width: 100%;
}

@media (max-width: 768px) {
    .about__content {
        grid-template-columns: 1fr;

    }

    .about__left {
        order: 2;
    }

   .about__right {
       order: 1;
   }
}