.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title--small {
    font-size: 1rem;
    color: var(--pink);
}

.hero__title--big {
    font-size: 3rem;
}

.typed-cursor, span {
    color: var(--pink);
}

.hero__text {
    max-width: 800px;
    line-height: 1.5;
    margin: .3rem 0 1rem;
}

.hero__btn {
    display: flex;
    gap: 1rem;
}

.hero__btn-social {
    border: 1px solid var(--pink);
    padding: 0.5rem 1rem;
    color: var(--white);
    transition: all 0.3s ease-in;
}

.hero__btn-social:hover {
    animation: headShake 1s;
    background-color: var(--pink);
}

.hero__btn-icon {
    margin-right: 0.3rem;
}

@media (max-width: 768px) {

    .hero__title--small {
        font-size: .8rem;
    }

    .hero__title--big {
        font-size: 1.5rem;
    }
}