.footer {
    display: flex;
    gap: var(--gap-xs);
    padding: 1rem 0 1rem 2rem;
    border-top: var(--border);
}

.footer__social {
    display: flex;
    gap: var(--gap-xxs);
}

.footer__social-link {
    color: var(--white);
}

.footer__social-link:hover {
    color: var(--pink);
}