.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav__logo {
  width: 4rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.nav__link {
  color: var(--white);
}

.nav__link--pink:hover {
  color: var(--pink);
}

.nav__link-contact {
  padding: 0.5rem 1rem;
  border: var(--border);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__link-contact:hover {
  background: var(--pink);
}

@media (min-width: 768px) {
  .nav__container-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav__container {
    display: none;
  }

  .nav__container-mobile {
    padding: 1rem;
    border: var(--border)
  }

  .nav__menu-mobile {
    display: flex;
    justify-content: center;
    gap: var(--gap-md);
  }

  .nav__link-mobile {
    color: var(--white);
  }

  .nav__link-mobile:hover {
    color: var(--pink);
  }

  .nav__icon-mobile:hover {
    animation: wobble 1s;
  }
}
