:root {
  --black: #212529;
  --white: #f8f9fa; 
  --pink: #ffa8a8;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

section {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 7rem 0;
}

footer {
  margin-top: auto;
}


@media (max-width: 1024px) {
  section {
    padding: 5rem 0;
  }
}