:root {
  --black: #212529;
  --grey: #495057;
  --white: #f8f9fa; 
  --pink: #ffa8a8;
  --font: 'Open Sans', sans-serif;
  --font-xxs: .8rem;
  --font-xs: .9rem;
  --font-sm: 1rem;
  --font-md: 1.063rem;
  --font-lg: 1.5rem;
  --font-xlg: 2rem;
  --font-xxl: 3rem;
  --border: 1px solid var(--pink);
  --gap-xxs: .5rem;
  --gap-xs: 1rem;
  --gap-sm: 2rem;
  --gap-md: 3rem;
  --gap-lg: 5rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white)
}

li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  background-color: var(--black);
  color: var(--white);
}

section {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 7rem 0;
}

footer {
  margin-top: auto;
}


@media (max-width: 1024px) {
  section {
    padding: 5rem 0 0;
  }
}
